name: Auto Package

on:
  push:
    branches:
      - develop  # Trigger the action on push to the 'main' branch
  workflow_dispatch:  # You can manually trigger this workflow as well

jobs:
  zip:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Check out the repository's code

      - name: Install zip (if necessary)
        run: sudo apt-get install -y zip  # Install zip command if not available

      - name: Zip contents of a folder
        run: |
          folder_name="H2OA_CM065.001"  # Specify the folder to zip
          zip -r "H2OA_CM065.001.zip" "H2OA_CM065.001"  # Zip the folder

      - name: Upload zipped file as artifact
        uses: actions/upload-artifact@v2
        with:
          name: zipped-folder
          path: devops-POC/  # Specify the path of the resulting zip file
